﻿@model HrWeb.Models.JobApplicationCreateView

@{
    ViewData["Title"] = "Apply";
}

<h2>Apply for a position of @Model.JobOffer.JobTitle in the @Model.JobOffer.Company.Name</h2>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Apply" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="JobOfferId" />
			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber" class="control-label"></label>
				<input asp-for="PhoneNumber" class="form-control" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EmailAddress" class="control-label"></label>
				<input asp-for="EmailAddress" class="form-control" />
				<span asp-validation-for="EmailAddress" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="ContactAgreement" /> @Html.DisplayNameFor(model => model.ContactAgreement)
					</label>
				</div>
				<span asp-validation-for="ContactAgreement" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CV" class="control-label"></label>
				<input asp-for="CV" type="file" accept=".pdf" class="form-control" style="height:auto" />
				<span asp-validation-for="CV" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
