﻿@model HrWeb.Models.JobApplication

@{
    ViewData["Title"] = "Details";
}

<div class="row">
	<h1>Application for a position of @Model.JobOffer.JobTitle in the @Model.JobOffer.Company.Name</h1>
	<hr />
	<div class="col-sm-8">
		<div>
			@Model.Description
		</div>
	</div>
	<div class="col-sm-4">
		<div>
			<div>
				<label asp-for="Created" class="control-label"></label>
				<span>@Model.Created.Date.ToString("yyyy-MM-dd")</span>
			</div>
			<div>
				<label asp-for="FirstName" class="control-label"></label>
				<span>@Model.FirstName</span>
			</div>
			<div>
				<label asp-for="LastName" class="control-label"></label>
				<span>@Model.LastName</span>
			</div>
			@if (Model.PhoneNumber != null)
			{
				<div>
					<label asp-for="PhoneNumber" class="control-label"></label>
					<span>@Model.PhoneNumber</span>
				</div>
			}
			<div>
				<label asp-for="EmailAddress" class="control-label"></label>
				<span>@Model.EmailAddress</span>
			</div>

			<div>
				<form asp-action="ApplicationDelete">
					<a asp-action="ApplicationEdit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
					<input type="hidden" asp-for="Id" />
					<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure to delete this application?');" />
				</form>
			</div>
		</div>
	</div>
</div>
