﻿@model JobOffer

@{
	ViewData["Title"] = "Details";
}
<div class="row">
	<h1>@Model.JobTitle</h1>
	<div class="col-sm-8">
		<div>
			@Model.Description
		</div>
	</div>
	<div class="col-sm-4">
		<div>
			<div>
				<label asp-for="Company" class="control-label"></label>
				<span>@Model.Company.Name</span>
			</div>
			<div>
				<label asp-for="Location" class="control-label"></label>
				<span>@Model.Location</span>
			</div>
			@if (Model.SalaryFrom.HasValue)
			{
				<div>
					<label asp-for="SalaryFrom" class="control-label"></label>
					<span>@Model.SalaryFrom  (PLN)</span>
				</div>
			}
			@if (Model.SalaryTo.HasValue)
			{
				<div>
					<label asp-for="SalaryTo" class="control-label"></label>
					<span>@Model.SalaryTo  (PLN)</span>
				</div>
			}
			<div>
				<label asp-for="Created" class="control-label"></label>
				<span>@Model.Created.Date.ToString("yyyy-MM-dd")</span>
			</div>
			@if (Model.ValidUntil.HasValue)
			{
				<div>
					<label asp-for="ValidUntil" class="control-label"></label>
					<span>@Model.ValidUntil.Value.Date.ToString("yyyy-MM-dd") (@Model.ValidUntil.Value.Subtract(DateTime.Now).Days days)</span>
				</div>
			}
			<div>
				<form asp-action="Delete">
					<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
					<input type="hidden" asp-for="Id" />
					<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure to delete this job offer?');" />
					<a asp-action="Apply" asp-route-id="@Model.Id" class="btn btn-primary">Apply</a>
				</form>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<h4>List of applications</h4>
		<table class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Phone</th>
				</tr>
			</thead>
			<tbody id="tableContent"></tbody>
		</table>
	</div>

	<a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>



@section Scripts{
	<script>
		$(document).ready(function () {
			var currentPage = 1;
			load(currentPage);

            $('#tableContent').on('click', '.footerContent a', function(e) {
                e.preventDefault();
                var pageNo = parseInt($(this).html());
                currentPage = pageNo;
                load(currentPage);
			});

            function load(page) {
                var $loading = $('<tr/>').html('Please wait...');
				$('#tableContent').html($loading);
                $.ajax({
                    url: '/api/JobOffers/' + @Model.Id.ToString() + '/applications',
                    type: 'GET',
                    data: {pageNo: page },
					success: function (data) {
						$.each(data.rows, function (i, application) {
							var $row = $('<tr/>');
							var detailsLink = $('<a/>').attr('href', '@Url.Action("ApplicationDetails")' + '?id=' + application.id).html(application.firstName + ' ' + application.lastName);
							$row.append($('<td/>').html(detailsLink));
							$row.append($('<td/>').html(application.emailAddress));
							$row.append($('<td/>').html(application.phoneNumber));
							$('#tableContent').append($row);
						});
						
                        var totalPages = parseInt(data.totalPages);
                        var $footer = $('<tr/>');
                        var $footerTD = $('<td/>').attr('colspan', 4).addClass('footerContent');

                        if (totalPages > 0) {
                            for (var i = 1; i <= totalPages; i++) {
                                var $page = $('<span/>').addClass((i === currentPage) ? "current" : "");
                                $page.html((i === currentPage) ? i : "<a href='#'> " + i + " </a>");
                                $footerTD.append($page);
                            }
                            $footer.append($footerTD);
                        }
                        $('#tableContent').append($footer);

                    },
                    error: function () {
                        alert('Error! Please try again.');
                    }
                }).done(function () {
                    $loading.remove();
                });
            }
        });
	</script>
}

<style>
	span.current {
		cursor: auto !important;
		background-color: #6E6E6E !important;
		color: #ffffff;
		font-weight: bold;
		padding: 5px 10px;
		border: 1px solid #000000;
		margin-right: 4px;
	}

	td.footerContent span a {
		display: inline-block;
		padding: 3px 10px;
		background-color: chartreuse;
		margin-right: 4px;
		border: 1px solid #998787;
		cursor: pointer;
	}

	td.footerContent span a {
		text-decoration: none;
	}

	td.footerContent {
		text-align: right;
	}
</style>