﻿@model HrWeb.Models.JobOffer

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>JobOffer</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="Created" />
			<div class="form-group">
				<label asp-for="JobTitle" class="control-label"></label>
				<input asp-for="JobTitle" class="form-control" />
				<span asp-validation-for="JobTitle" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CompanyId" class="control-label"></label>
				<select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
				<span asp-validation-for="CompanyId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SalaryFrom" class="control-label"></label>
				<div class="input-group">
					<span class="input-group-addon">PLN</span>
					<input asp-for="SalaryFrom" class="form-control" />
					<span class="input-group-addon">.00</span>
				</div>
				<span asp-validation-for="SalaryFrom" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SalaryTo" class="control-label"></label>
				<div class="input-group">
					<span class="input-group-addon">PLN</span>
					<input asp-for="SalaryTo" class="form-control" />
					<span class="input-group-addon">.00</span>
				</div>
				<span asp-validation-for="SalaryTo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Location" class="control-label"></label>
				<input asp-for="Location" class="form-control" />
				<span asp-validation-for="Location" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ValidUntil" class="control-label"></label>
				<div class="input-group">
					<input asp-for="ValidUntil" class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				<span asp-validation-for="ValidUntil" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<hr />
	<a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
