﻿@model HrWeb.Models.Company

@{
	ViewData["Title"] = "Details";
}

<div class="row page-box">
	<div>
		<h2>Company management</h2>
		<hr />
		<div>
			<label asp-for="Name" class="control-label"></label>
			<span>@Model.Name</span>
		</div>
		<h2 />
		<div>
			<form asp-action="Delete">
				<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
				<input type="hidden" asp-for="Id" />
				<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure to delete this company?');" />
			</form>
		</div>
	</div>

	<div>
		<hr />
		<a asp-action="Index" class="btn btn-primary">Back to List</a>
	</div>
</div>