﻿@{
	ViewData["Title"] = "Companies";
}

<div class="row page-box">
	<div class="col-sm-12">
		<h2>Companies list</h2>

		<form asp-action="Index" method="get">
			<div class="input-group col-md-12" style="margin-bottom: 14px">
				<input type="text" class="form-control" placeholder="Search by company name..."
					   name="search" id="searchInput" />
				<span class="input-group-btn">
					<button class="btn btn-info" type="submit" id="searchButton">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</form>


		<table class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
				</tr>
			</thead>
			<tbody id="tableContent"></tbody>
		</table>
		<a asp-action="Create" class="btn btn-primary">Add new company</a>
	</div>
</div>

@section Scripts{
	<script>
        $(document).ready(function () {
			var currentPage = 1;
			searchFor('', currentPage);

            $('#searchButton').on('click', null, function (e) {
                e.preventDefault();
                var searchString = $('#searchInput').val();
                searchFor(searchString,1);
			});

            $('#tableContent').on('click', '.footerContent a', function(e) {
                e.preventDefault();
                var pageNo = parseInt($(this).html());
                currentPage = pageNo;
                var searchString = $('#searchInput').val();
                searchFor(searchString, currentPage);
			});

            function searchFor(str,page) {
                var $loading = $('<tr/>').html('Please wait...');
                $('#tableContent').html($loading);
                $.ajax({
                    url: '/api/Companies',
                    type: 'GET',
                    data: { search: str, pageNo: page },
					success: function (data) {
                        $.each(data.rows, function (i, company) {
                            var $row = $('<tr/>');
							var detailsLink = $('<a/>').attr('href', '@Url.Action("Details")' + '?id=' + company.id).html(company.name);
                            $row.append($('<td/>').html(detailsLink));
                            $('#tableContent').append($row);
						});

                        var totalPages = parseInt(data.totalPages);
                        var $footer = $('<tr/>');
                        var $footerTD = $('<td/>').attr('colspan', 4).addClass('footerContent');

                        if (totalPages > 0) {
                            for (var i = 1; i <= totalPages; i++) {
                                var $page = $('<span/>').addClass((i === currentPage) ? "current" : "");
                                $page.html((i === currentPage) ? i : "<a href='#'> " + i + " </a>");
                                $footerTD.append($page);
                            }
                            $footer.append($footerTD);
                        }
                        $('#tableContent').append($footer);

                    },
                    error: function () {
                        alert('Error! Please try again.');
                    }
                }).done(function () {
                    $loading.remove();
                });
            }
        });
	</script>
}

<style>
	span.current {
		cursor: auto !important;
		background-color: #6E6E6E !important;
		color: #ffffff;
		font-weight: bold;
		padding: 5px 10px;
		border: 1px solid #000000;
		margin-right: 4px;
	}

	td.footerContent span a {
		display: inline-block;
		padding: 3px 10px;
		background-color: chartreuse;
		margin-right: 4px;
		border: 1px solid #998787;
		cursor: pointer;
	}

	td.footerContent span a {
		text-decoration: none;
	}

	td.footerContent {
		text-align: right;
	}
</style>